* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
@font-face {
  font-family: "hwxk";
  src: url(font/华文行楷.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hwkt";
  src: url(font/华文楷体.ttf);
  font-weight: normal;
  font-style: normal;
}

/*  导   航   栏   */
#logo{
   width:100px;
}

.menu{
  display: none;
  background:#969651;
  width:100%;
  z-index:998;
  color: white;
}

.menu ul li,.menu a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 10px 14px 7px 14px;
  text-align: center;
  font-size: 21px;
  font-family: hwxk;
  transition:0.3s;
}
.menu ul li:hover {
  background-color: #7c7c26;
  border-bottom: 3px solid #7c7c26;
}

.ml{
  display: none;
  float: right;
  cursor: pointer;
  background-repeat:no-repeat;
  width:100px;
  height:48px;
  z-index:999;
}
#close{
  display: none;
}

.nav {
  font-size: 24px;
  font-family: hwxk;
  background-color: #969651;
  width: 100%;
  display: inline-block;
}

.nav ul {
  float: right;
  color: white;
}

.nav ul li {
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 15px 14px 10px 14px;
  text-align: center;
  transition:0.3s;
}
.nav ul li:hover {
  background-color: #7c7c26;
  border-bottom: 8px solid #7c7c26;
}

.crumb {
  color: #ffffff;
  display: inline-block;
}

.current {
  border-bottom: 8px solid #7c7c26;
  margin: auto;
}

.st img{
  width:100%;
}
.st #st1{
  display: block;
}
.st #st2{
  display: none;
}

.bg {
  margin-top: 0;
  background-image: url(image/bg.jpg);
  background-position: center;
  background-size: 100%;
}


@media (min-width: 770px) and (max-width: 1024px) {
  #logo{
    width: 80px;
  }
  .nav {
    font-size: 22px;
  }
  .nav ul li {
    padding: 15px 7px 10px 7px;
  }
  .nav ul li:hover {
    border-bottom: 6px solid #7c7c26;
  }
  .current {
    border-bottom: 6px solid #7c7c26;
  }
}

@media (max-width: 770px) {
  .st #st1{
    display: none;
  }
  .st #st2{
    display: block;
  }
  .nav ul{
    display:none;
  }
  .ml{
      display: block;
  }
  .current {
    border-bottom: 3px solid #7c7c26;
  }
}




/*  翻   转   卡   片  */
.container {
  margin: auto;
  width: 80%;
  column-count: 3;
  padding-top: 100px;
  padding-bottom: 50px;
  position:relative;
  justify-content:center;
  align-items:center;
  transform:translateX(3%);
}

.card {
  justify-content:center;
  align-items:center;
  break-inside: avoid;
  page-break-inside: avoid;
  background-color: #cbc09f;
  width: 80%;
  height: 380px;
  padding-bottom: 10%;
  margin: auto;
  margin-bottom: 50px;
  color: white;
  font-family: hwkt;
  text-align: center;
  font-size: 18px;
  border-radius: 18px;
  box-shadow: 7px 6px 10px grey;
}
.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.middle {
  position: absolute; /*设置元素绝对定位*/
}
.middle img {
  width: 95%;
  border-radius: 18px;
  box-shadow: 7px 6px 10px grey;
}

.cc {
  cursor: pointer;
  height: 420px;
  margin: auto;
}

.front {
  width: 280px;
  height: 360px;
  margin: auto;
  position: absolute;
  overflow: hidden; /*溢出元素修剪掉并隐藏*/
  backface-visibility: hidden; /*定义元素不面向屏幕时是否可见*/
  transition: transform 0.6s linear;
}
.back {
  width: 280px;
  height: 370px;
  position: absolute;
  overflow: hidden; /*溢出元素修剪掉并隐藏*/
  backface-visibility: hidden; /*定义元素不面向屏幕时是否可见*/
  transition: transform 0.6s linear;
}

.front {
  /* 动画样式，设置镜头到元素平面的距离，变换时元素按Y轴旋转 */
  transform: perspective(600px) rotateY(0deg);
}

.back {
  /*背面卡片样式*/
  transform: perspective(600px) rotateY(180deg);
}

.cc:hover > .front {
  /*选定card后的所有front样式，与.card:hover .front类似但不同*/
  transform: perspective(600px) rotateY(-180deg);
}

.cc:hover > .back {
  /*同上*/
  transform: perspective(600px) rotateY(0deg);
}
@media (min-width: 770px) and (max-width: 1024px) {
  .container {
    column-count: 2;
    transform:translateX(3%);
  }
  .card {
    width: 36%;
    height: 200px;
    padding-bottom: 50px;
  }
  .front {
    width: 280px;
    height: 360px;
  }
  .back {
    width: 280px;
    height: 370px;
  }
}
@media (max-width: 770px) {
  .container {
    column-count: 1;
    padding-left: 6%;
  }
  .card {
    width: 50%;
    padding-bottom: 50px;
    font-size: 16px;
  }
  .front {
    width: 260px;
    height: 340px;
  }
  .back {
    width: 260px;
    height: 360px;
  }
}

.detail {
  margin: auto;
  width: 36%;
  color: black;
  margin-top: 5%;
  padding: 7px;
  background-color: #f9f5eb;
  border-radius: 10px;
}



/*  项  目  概  述  */
.imgbox {
  column-count: 2;
  padding: 25px 55px;
  margin: auto;
  width: 70%;
  background-color: rgba(72, 110, 70, 0.8);
  border-radius: 20px;
  color: #ffffff;
  font-family: hwkt;
}
.tb {
  padding-top: 20px;
  padding-bottom: 20px;
}
.imgbox td {
  
  font-weight：700;
  padding: 25px;
  writing-mode: tb-rl;
}

.imgbox img {
  width: 100%;
  margin-top:25px;
  border-radius: 20px;
}

.textbox {
  width: 70%;
  margin: auto;
  font-family: hwkt;
  font-size: 18px;
  padding: 50px 85px;
  background-color: rgba(150, 150, 81, 0.23);
  border-radius: 30px;
}

@media (max-width: 770px) {
  .textbox {
    width: 90%;
    font-size: 16px;
    padding: 50px 35px;
  }
  .imgbox img {
    padding:0px 8px;
  }
  .imgbox {
    column-count: 1;
    padding: 10px 30px;
    width: 90%;
  }
  .imgbox td {
    padding:25px 25px 10px 0;
  }
}
@media (min-width: 770px) and (max-width: 1024px) {
  .imgbox td {
    padding-right: 10px;
  }
  .textbox {
    padding: 50px 55px;
  }
  .imgbox {
    padding: 10px 30px;
  }
}



/*  发   展   历   史   */
.map {
  margin-top: 0;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #d4dbb8;
  text-align: center;
}
.map h1 {
  padding: 55px;
  font-size: 42px;
  font-family: hwkt;
}

.wrapper {
  font-family: hwkt;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.box-area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
.box-date {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  background-image: url(image/map.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  order: 2;
  text-align: center;
  flex-basis: 100px;
  color: #fff;
  cursor: pointer;
}
.box-date > span {
  font-size: 20px;
  padding: 10px;
  margin: auto;
  background: rgba(126,147,105,0.7);
}
.box-text {
  font-size: 16px;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  color: #464646;
  order: 3;
  width: 100%;
  padding-left: 10px;
  background: #f1f1ed;
  margin-bottom: 3%;
  margin-left: 3%;
  cursor: pointer;
  transition: width 1s;
}
.box-text:hover {
  width: 100%;
}

@media (min-width: 770px) {
  .map h1 {
    font-size: 48px;
  }

  .box-text,
  .custom {
    width: 40%;
    font-size: 18px;
  }
  .box-right .box-text {
    order: 1;
    padding-right: 10px;
    border-radius: 25px;
  }
  .box-right .custom {
    order: 3;
  }
}



/*  传   统   技   艺  */
.head{
  display: none;
  padding:50px 0 30px 0;
  font-size:46px;
  font-family: hwxk;
  text-align:center;
  color: #333;
}
#wrap {
  max-width: 100%;
  height: 730px;
  padding: 0;
  overflow: hidden;
}
#wrap ul li {
  list-style: none;
  width: 65px;
  height: 730px;
  float: left;
  transition: 0.5s;
}
#wrap ul li:hover {
  width: 460px;
  margin: auto;
}
#wrap ul li:hover .txt {
  background: transparent;
}
#wrap ul li .txt {
  width: 65px;
  height: 730px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: #fff;
  font-family: hwkt;
  font-size: 25px;
  transition: 0.5s;
}
#wrap ul li .txt p {
  padding: 30px 20px;
}
#wrap h1 {
  width: 56px;
  padding: 80px 1px;
  font-size: 54px;
  float: right;
  font-family: hwxk;
  margin-right: 15%;
  color: #333;
}
.process{
  width: 260px;
  float: right;
}
.skill{
  display: none;
}
.skill img{
  width: 49%;
}

@media (min-width: 640px) and (max-width: 1000px){
  #wrap {
    display: none;
  }
  .skill{
    display: block;
  }
  .head{
    display: block;
  }
}
@media (max-width: 640px){
  #wrap {
    display: none;
  }
  .skill{
    display: block;
    text-align: center;
  }
  .head{
    display: block;
    font-size:40px;
  }
  .skill img{
    width: 75%;
  }
}


/*  更    多  */
form {
  font-family: hwkt;
  font-size: 19px;
  padding: 80px 150px;
  width: 70%;
  height: 88vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
}
form h1{
  font-family:hwkt; 
  font-size:43px;
}
input[type="text"],
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}
textarea {
  width: 100%;
}
input[type="submit"] {
  background-color: #969651;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 47%;
  margin-botton: 60px;
  font-family: hwkt;
}

@media (max-width: 770px) {
  form {
    width: 90%;
    font-size: 17px;
    padding: 50px 50px 30px 50px;
  }
  form h1{
    font-size: 40px;
  }
  input[type="submit"] {
    margin-left: 40%;
  }
}

/*  页   脚   */
.footer {
  background-color: #969651;
  text-align: center;
  color: #f9f5eb;
  clear: both;
  font-size: 15px;
  padding: 20px 0;
}